<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Aviatrash{% endblock %}</title>
    <!-- Загружаем тег static -->
    {% load static %}
    <!-- Подключаем внешний файл стилей -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Шапка -->
    <div class="header">
        <a href="{% url 'list_tickets' %}">Авиабилеты</a>
        <div class="auth-buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'personal:profile' %}">Личный кабинет</a>
                <form action="{% url 'personal:logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Выйти</button>
                </form>
            {% else %}
                <a href="{% url 'personal:login' %}">Войти</a>
            {% endif %}
        </div>
    </div>
    <!-- Основное содержимое -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Подвал -->
    <div class="footer">
        <p>&copy; 2024 Aviatrash - поиск самых дорогих авиабилетов. Все совпадения случайны. Все билеты выдуманы.</p>
    </div>
</body>
</html>
